{{define "about_us"}}
{{ template "header"}}

<main role="main" class="inner cover">
    <p>
        <h1 class="cover-heading">Это новостной сайт который позволяет добавить статью</h1>
        <p>А посмотреть все статьи вы можете в телеграмм боте <h1><a href="t.me/rassilachka_bot">/\_/\Достать из базы/\_/\</a></h1></p>
        <ol start="1">
    
            <li>Нажать на кнопку "Здесь вы можете создать свой пост" которая расположена на главной странице</li>
    
            <li>Заполнить простую форму</li>
    
            <li>И нажать кнопку "Добавить"</li>
    
        </ol>
    </p>
</main>


{{ template "footer"}}
{{ end }}