{{define "index"}}

{{ template "header"}}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Главная страница</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti numquam amet repellat error tempore, possimus veritatis fuga atque corrupti voluptatem cumque maiores molestiae odit, in rerum quisquam dolorem earum! Quae.</p>

    <p class="lead">
    <a href="/create" class="btn btn-lg btn-secondary">Здесь вы можете создать свой пост</a>
    </p>
</main>

{{template "footer"}}

{{end}}